<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>evaluacion_cinco</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DatosMenu</display-name>
    <servlet-name>DatosMenu</servlet-name>
    <servlet-class>cl.javiera.cliente.controller.DatosMenu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatosMenu</servlet-name>
    <url-pattern>/DatosMenu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepositoController</display-name>
    <servlet-name>DepositoController</servlet-name>
    <servlet-class>cl.javiera.cliente.controller.DepositoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepositoController</servlet-name>
    <url-pattern>/DepositoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetiroController</display-name>
    <servlet-name>RetiroController</servlet-name>
    <servlet-class>cl.javiera.cliente.controller.RetiroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetiroController</servlet-name>
    <url-pattern>/RetiroController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListadoTransaccionController</display-name>
    <servlet-name>ListadoTransaccionController</servlet-name>
    <servlet-class>cl.javiera.cliente.controller.ListadoTransaccionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListadoTransaccionController</servlet-name>
    <url-pattern>/ListadoTransaccionController</url-pattern>
  </servlet-mapping>
</web-app>